       /*container-prefesores-HOME*/
@media screen and (max-width:760px){
	.container__profesores{
	 height:1800px;
	 }
    .container__profesores_card{
       margin-top:100px;}
    	 
}      

@media screen and (max-width:450px){
	.container__profesores{
	height:1800px;
	 }
    .container__profesores_card {
        width:30rem;
        margin-top: 100px;}
    
}

        /*section-whatweDO-HOME*/
@media screen and (max-width:770px){
  .whatwedo__secction .whatwedo__div {
    margin:50px 0px;}
}

@media screen and (max-width:450px){
  .whatwedo__secction .whatwedo__div {
    margin: 50px 0px;}
}


        /*container-top-HOME*/

@media screen and (max-width:770px){
  .container__top{
      text-align:center;
      height: 1500px; }
    .container__top .container__top_row {
      margin: 50px 0px;
    }
}
@media screen and (max-width:400px){
    .container__top{
        text-align:center;
        height: 2750px; }
      .container__top .container__top_row {
        margin: 50px 0px;
      }
      .container__top .container__top_row .container__top_colText_p{
        padding-right: 80px;
      }
		  .container__top_col {
		    height: 300px;overflow: auto;
		     }
		
}
       /*section-plans-price*/

@media screen and (max-width:400px){
    #plans__price {
    margin: 300px 0 150px;}
    #plans__price .plans__price__p{
      padding: 0px 20px;
    }
}      


      /*container__tap_divh2*/
@media screen and (max-width:460px){
       .container__top_divh2{
           margin: 150px 0;}

}
       /*section-testimonials-3-HOME */

@media screen and (max-width:400px){
    .divTestimonial_h3 {
      margin-bottom: 100px;}
}
     /*container-reviews-HOME*/
     
@media screen and (max-width:1200px){
    .corousel_rvs_imgText{
    height:350px;
    padding:70% 2%;
    }
    .corousel_rvs_imgArea{
      left:50px;
    }
}
@media screen and (max-width:760px){
     .container_reviews .corousel_rvs_inner .corousel_rvs_item .corousel_rvs_col .corousel_rvs_imgText{
       height: 450px;
       padding: 60% 6%;
      }
      .container_reviews .corousel_rvs_inner .corousel_rvs_item .corousel_rvs_col .corousel_rvs_imgArea{
        left:50px;
      }
       .corousel_rvs_item{ 
		  	height: 1100px;
        margin-top: 50px;}
        		  	
}

@media screen and (max-width:480px){
  .container_reviews .carousel_indicators_reviews {
    left:0;
    top:auto;
    bottom:-60px;
  }
   
}
@media screen and (max-width:768px){
  .container {
    height:auto;
  }
}
     /******pages-help******/
     @media screen and (max-width: 600px){
      .section_help {
          height:auto;
          width:auto;
       }
      
  }
  
   
             /*teacher_card*/
  
@media screen and (max-width:768px){
.teachers__card__style {
  flex-direction:column !important;
  margin-bottom:2.5rem;
  height:auto;
}
}
  /******************TEACHER-PERFIL******************/
  @media screen and (max-width:768px){
    .container{
      height:auto;
    }
  }
             /*footer*/
  @media screen and (max-width:760px){
    .page-footer{
      padding-left:20px;
      padding-right:20px;
    }
    .footer__row{
      margin-right:0;
      margin-left:0;
    }
    
  }
  
  
  @media screen and (max-width:450px){
    .page-footer{
      padding-left:20px;
      padding-right:20px;
    }
     
  }
