$colPrincipal:#7579e7;
$colBody: #9ab3f5;
$colThird: #a3d8f4;
$colWhite:#fff;
$colShadowprimario: 3px 5px 25px rgba(0, 0, 0,0.548);
$colBanner: #F5f5f5;
$colStars:burlywood;
$colPrice:#FE980F;
$colbtnPfhover: #a5a8f8;
$colparrafo:#272828;
$coltestimonials: #434343;
$colTransparent: transparent;
$colGrey:#888;