@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Quicksand:wght@600&display=swap');
@import "colores";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    background-color: $colBody;
}
/*encabezados*/
.topDiv__style  {
    margin: 100px 0px 30px;
    font-family: 'Quicksand', sans-serif;
    background-color: #9ab3f5;
	text-align: center;
	color: $colWhite;
    .topDiv__style__h2{
	font-size: 40px;}
	.topDiv__H1{
		margin-bottom: 100px;
	}
}




h2 {
    color: $colWhite;
    font-family: 'Quicksand', sans-serif;
}
h3 {
	color: $colWhite;
    font-family: 'Quicksand', sans-serif;
    
}  
p {
	font-family: 'Quicksand', sans-serif; 
	letter-spacing: 1px;
	 
}

/***************** NAV ****************/
.navbar__foto{
	width: 100%;
}
.navStyle {
    color: $colWhite;
    background-color: $colPrincipal;
    font-size: 20px;
	border-color: transparent;
	font-weight: bold;
		.navLinke__style {
		background-color: $colPrincipal;
		font-size: 20px;
		color: $colWhite;		
         &:hover {
	     background-color: $colThird;
		 border-radius: 20px;
		 width: fit-content;}
		}
		.dropdown__style{
	     background-color: $colPrincipal;	
		 color: $colWhite;
		 font-weight: bold;
		 padding-left: 1.9rem;
	     &:hover {
	     background-color: $colThird;
		 border-radius: 20px ;
		 width: fit-content;}	
	     }
	     .dropdown__menu--style{
	     	padding: 0;
	     	min-width: 6rem;
			border: none;
			left: 0;
			right: 0;
			background-color:$colPrincipal;
	     }
}   
.navbar-expand-lg .navbar-nav .nav-link{
	padding-right: 2rem;
	padding-left: 2rem;	
}

.navbar__customToggler{
	border-color: $colThird;
	.navbar__customToggler--icon{
	background-image: url( 
              "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(163, 216, 244)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");	
	}
}
/********************* CAROUSEL ****************/
.carousel__item--style {
	height: 40rem;
	color: $colWhite;
	position: relative;
	background-position: center;
	background-size: cover;
	.container__carousel {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 50px;
	   .span__carousel{
		   color: $colWhite;;
		   margin-bottom: .5rem;
		   font-weight: 500;
		   line-height: 1.2; 
		   font-family: 'Quicksand', sans-serif;
		   font-size:  2.5rem;
	   }
	}
	.btn__carousel{
	@include btn__general;	
	}

}
.carousel__item--styleImg1{
	background-image: url('../img/imgCarru/dtB.jpg');
}
.carousel__item--styleImg1::before{
	content: "";
	background:linear-gradient(45deg,#52c4df,#ad55c1);
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;

}
.carousel__item--styleImg2{
	background-image: url('../img/imgCarru/footballB.jpg');
	
}
.carousel__item--styleImg2::before{
	content: "";
	background:linear-gradient(45deg,#52c4df,#ad55c1);
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;

}
.carousel__item--styleImg3{
	background-image: url('../img/imgCarru/crossB.jpg');
	background-position: top;
}
.carousel__item--styleImg3::before{
	content: "";
	background:linear-gradient(45deg,#52c4df,#ad55c1);
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;

}

/**********section-what-we-do********/
.whatwedo__secction{
	width: 100%;
		.whatwedo__div{
			margin: 150px 0px;
			padding: 10px;
			text-align: center;
				.whatwedo__h1{
					color:$colWhite;
					font-size: 50px;
					margin: 30px 0;
				}
				.whatwedo__p{
					color:$colWhite ;
					font-size: 22px;
				}
			}
}
/**********containerTop********/

.container__top {
        text-align: center;
		height: 2100px; 
		.container__top_row{
		  margin: 100px 0px;
		  .container__top_colTextTop{
			width: 500px;	 
		  .container__top_colText{
			text-align: center;
			margin-top: 100px;
			
		}
		}
		.container__top_col {
		    height: 420px;
			 }
		
		.container__top_colText_h2 {
		        margin-top: 40px;
		        color: $colWhite;
		    }
		    
		.container__top_colText_p {
			margin: 50px 0;
			color: #eaeaed;
			letter-spacing: 0.2rem;
			font-size: 1.2rem;
			padding: 0 20px;
		}
		.container__top_img {
		    height: 300px;
			width: 500px;
			margin-top: 60px;
		}
	}
}
/*****container profesorer***/
.container__topTeacher{
	margin: 100px 0px 150px 0px ;
	text-align: center;
	width: 100%;
	.container__topTeacher_h2{
		font-size: 45px;
	}
}

.container__profesores{
	margin-top: 150px;
	height: 900px;
	text-align: center;
	    .container__profesores_col {
	    	margin-bottom: 30px;
	    }
		.container__profesores_card {
		    width: 22rem;
		    margin: 20px auto;
		    height: 425px;
			border-radius: 40px;
			&:hover{
		    box-shadow: $colShadowprimario;}}
		.container__profesores_card_tittle{
			color: $colPrincipal;
			margin-top: 15px;
			margin-bottom: 0;
			font-weight: bold;
			font-size: 24px;
		}  
		.container__profesores_cardText{
			margin-top: 10px;
		}  
	    .container__profesores_btn {
	      @include btn__general;
			}

}   

/*****container Price***/ 
#plans__price{
	margin: 250px 0;
	  .plans__price__h2{
	  	text-align: center;
	  	font-size: 45px;
	  	margin-bottom: 30px;
	  }
	  .plans__price__p{
	  	text-align: center;
		color: $colWhite;
		margin-bottom: 150px; 
		font-size: 22px;
	  }
		.container__plan__col {
		text-align: center;
			.panel__pricing{
			border-radius: 25px;
			border: 2px solid ;
			border-color: $colPrincipal;
			margin-top: 50px;
			background-color: $colWhite;
			&:hover {
				box-shadow:$colShadowprimario;
			}
			.panel__heading {
				border-top-left-radius:20px;
				border-top-right-radius:20px;
				padding: 20px 10px;
				background-color: $colPrincipal;			 
					.panel__heading--fa {
						margin: 10px 0;
						font-size: 58px;
						color:  $colWhite;
					}
			}
			.panel__list__group{
				text-align: center;
			}
			.groupList__style {
				color: #777777;
				border-bottom: 1px solid rgba(250, 250, 250, 0.5);}
			.panel__list--fa{
				padding-right: 10px;
			}
			.panel__body {
				background-color: #f0f0f0;
				font-size: 35px;
				color: #777777;
				padding: 10px;
				margin: 0px;
				text-align: center;
			}
			.panel__footer{
				margin:10px 0;
			    .panel__btn{
					color: $colWhite;
					background-color: $colPrincipal;
					padding: 10px 40px;
					font-size: 18px;
					line-height: 1.3333333;
					border-radius: 10px;
					  &:hover{					  
				        background-color: #a5a8f8;
				        transform: scale(1.2);
					  }
				}
			}
	}
	
 }
}
/******CONNTAINER-REVIEWS******/
.divTestimonial_h3 {
   text-align: center; 
   margin-top: 70px;
   margin-bottom: 150px;
      .testimonial_h3 {
        color: $colWhite;
        font-weight: bold;
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 2px; 
	  }
	  
}
.container_reviews {
	margin-top: 30px;
	.corousel_rvs_inner{ 
		margin-bottom: 100px;
		.corousel_rvs_item {
			background-color: $colTransparent;
		.corousel_rvs_col{
			   margin-top: 0px;
			   height: 380px;
		    .corousel_rvs_divNew{
				margin-top: 7px;
				border-top-left-radius: 15px;
				border-top-right-radius: 15px;
				background-color: $colPrincipal;
				height: 130px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.corousel_rvs_imgText{
				padding: 20px;
				width: 100%;
				height: 240px;
				display: block;
				text-align: center;
				background: $colPrincipal;
				color: #fff;
				border-bottom-left-radius:15px;
				border-bottom-right-radius:15px;
				.corousel_rvs--a{
					margin: 7px 0px;
					font-weight: bold;
					color: $colThird;
					text-decoration: none;
					&:hover {
						text-decoration: none;
						color: $colThird;
						transform: scale 2.2 ;}
				}
			}
			.corousel_rvs__colorFar{
				color: $colStars;
				margin-bottom: 5px;
			}
			.corousel_rvs_h2 {
				font-size: 25px;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin-bottom: 0;
			}
			.corousel_rvs_p {
				font-size: 14px;
			}
			.corousel__rvsP--A{
				 text-decoration: none;	
				 color: $colThird;
				 font-weight: bold;
				 .corousel__rvsP--A:hover {
					text-decoration: none;
					color: $colThird;
                    transform:scale(4.2);}
				}
			
			.corousel_rvs_sinBox{	
				margin-bottom: 30px;
			}
			.corousel_rvs_imgArea{
				width: 100px;
				height: 100px;
				border: 5px solid $colWhite;
				overflow: hidden;
				border-radius: 50px;
			}
			.corousel_rvs_img {
				width: 100%;
			}
		}
	  }
   }  
      
		.carousel_indicators_reviews{
			left: 0;
			top: auto;
			bottom:-60px;}		
				.carousel_indicators_li{
					background: $colPrincipal;
					border-radius: 50px;
					width: 15px;
					height: 15px;
				}
				.corousel_rvs_active{
					background: $colWhite;}
				 

}

 
		   /******pages-help******/
.top__h1{
	margin-bottom: 170px;
}
.topH1__divImg{
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
}
.help__img{
border-radius: 30px;
box-shadow: $colShadowprimario;
background-color:$colPrincipal;
width: 100%;
}
.help__divH2{
	text-align: center;
	margin-top: 150px;
}
.section_help {
    height: 2350px;
    width: auto;  
		 .section_help_divDivision{
			 margin: 100px 0 30px 0;
		 }
		 .section_help_h3{
			 font-size: 26px;
			 font-weight: bold;
			 color:$colWhite;
			 margin: 50px 0 0 50px;
		 }
		 .help__barra1{
			height: 4px;
			background-color: $colThird;
			width: 120px;
			margin: 6px 0px 0px 45px;
		 }
		 .section_help_faqs {
		     background-color:$colWhite;
		     width: 80%;
		     margin: 60px 50px;
		     padding: 20px 15px;
			 border-radius: 25px;
			 line-height:2.1rem;
		 }
		 .section_help_faqSpan{
			 color:$colPrincipal ;
		 }
		 .section_help_faqsH3{
			text-transform: uppercase;
		     color: $colPrincipal;
		     font-weight: bold;
		     font-size: 24px;
		     padding: 20px;    
		 }
 }


				 /******pages-contact******/

.containerContact {
		text-align: center;
		height: 400px; 
		margin: 100px 0;
		.containerContact_row{
		margin: 100px 0px;
		.containerContact_colTextTop{
			width: 500px;	 
			.containerContact_colText{
				text-align: center;
				margin-top: 100px;}		
		}
		.containerContact_col {
			height: 420px;
			}
		
		.containerContact_colText_h2 {
				margin-top: 40px;
				color: $colWhite;
			}
			
		.containerContact_colText_p {
			margin: 50px 0;
			color: #eaeaed;
			letter-spacing: 0.2rem;
			font-size: 1.2rem;
			padding: 0 20px;
		}
		.containerContact_img {
			height: 300px;
			width: 500px;
			margin-top: 60px;
		}
	}
}

.container_info{
	margin-bottom: 200px;
		.container_info_col{
		   	margin-top: 150px;
		    
			.container_info_imgText{
				width: 100%;
				height: 370px;
				display: block;
				text-align: center;
				padding: 10% 5%;
				background: $colPrincipal;
				color: #fff;
				border-radius: 15px;
			}
			.container_info_h2 {
				font-size: 25px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			.container_info_p {
				font-size: 14px;
				margin-top: 20px;
			}
			.container_info_sinBox{
				position: relative;
				margin-bottom: 30px;
			}
			 
			.container_info_fas{
				font-size: 100px;
				padding-bottom: 10px;
			}
			.containerInfo__fas{
				margin-top: 15px;
				font-size: 44px;
			}
			

		}
}
 
.section_contactForm {
	margin: 150px 0;
	.contactForm__labelText{
	color: $colWhite;
	font-weight: bold;
	text-transform: uppercase;
    }
	.contactForm_hr{
		    height: 5px;
			width: 100%;
			background: $colThird; 
	}
	.contactForm_btn{
		background: $colPrincipal;
		color: $colWhite;
	}
	.contactForm_col_fa{
		margin: 10px 15px;
		color: $colPrincipal;
	}
	.section_contactForm__h3{
		color: $colWhite;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 30px;
		letter-spacing: 1px;

	}
   
}
/**********************ADVERTISE**************/
.container__advertise{
	height: 500px;
	margin: 150px 0;
	.colAccord__advertise{
		margin-top: 50px;
		padding: 0 30px;
	}
	.colImg__advertise{
		padding: 50px;
			.img__advertise{
				height: 300px;
				width: 500px;
				margin-left: 80px;
				}	
	}
	.card__advertise{
		background-color: transparent;
		border: none;
		padding:none;
		color: white;
		.span__advertise{
			color:$colPrincipal important;
		}
		 .cardHeader__advertise{
			 background-color:$colPrincipal;
			 .btnLink__advertise{
				 color: white;
				 font-weight: bold;
				 text-decoration: none;
				 border: none;
				  &:focus{
					  box-shadow: none;
				  }
			 }
		 }
	}
}
.section__advertise {  
	  text-align: center;
	  height: 500px; 
	  margin-top: 160px;    
		.section__advertise__h2{
		    padding: 15px;
		}
		.section__advertise__h3{
		    padding: 15px;
		}
}

/******************teacher__cards******************/

.teachers__card{
	 box-sizing: border-box;
	overflow-x: hidden;
	position: relative;
	 min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
			 .teachers__card__row {
			  max-width: 1200px;
			  margin: 2rem auto;				             
					.teachers__card__style {
					  display: flex;
					  -webkit-box-pack: justify;
					  -ms-flex-pack: justify;
					  justify-content: space-between;
					  flex-direction: row;
					  margin-bottom: 10.5rem;
					  box-shadow: $colShadowprimario;	
					  border-radius: 15px;}
					.teachers__card__img{
					  flex: 1 30%;
					  -webkit-flex: 1 30%;
					  overflow:hidden;
					  position: relative;
					  padding: 10px;
					}
					.teachers__card__img-preview {
					  display: block;
					  object-fit: cover;
					  margin: 0 auto;
					  min-width: 150px;
					  max-width: 100%;
					  min-height: 100%;
					  transition: all 0.5s ease 0s;
					}
					.teachers__card__content {
					  flex: 1 70%;
					  -webkit-flex: 1 70%;
					  padding: 0.8rem;
					}
					.teachers__card__title {
					  font-size: 1.2rem;
					  font-weight: 700;
					  margin: 0;
					  padding-bottom: 15px;
					  color: $colPrincipal;
					}
					.teachers__card__text {
					    font-size: 0.9rem;
					  margin: 0;
					}
					.teachers__cardStars{
					    color: $colStars;
					}
					.teachers__cardStar__padding{
					    padding-left: 30px;
					    padding-bottom: 15px;
					}
					.teachers__card__description {
					  font-size: 0.8rem;
					  margin: 0;
					  margin-top: 0.5rem;
					  color: $colGrey;
					  text-overflow: ellipsis;
					  display: -webkit-box;
					  -webkit-box-orient: vertical;
					  -webkit-line-clamp: 4;
					  max-height: 3rem;
					  line-height: 1rem;
					  margin-bottom: 25px;
					}
					.teachers__card__bottom {
					    display: -webkit-box;
					    display: -ms-flexbox;
					    display: flex;
					    align-content: center;
					    -webkit-box-pack: justify;
					    -ms-flex-pack: justify;
					    justify-content: space-between;
					    border-top: 1px solid $colPrincipal;
					    text-align: right;
					    padding-top: 0.5rem;
					    margin-top: 1rem;
					    font-size: 0.8rem;
					    color: $colGrey;
					}
					.teachers__card__btn{
						    border-radius: 25px ;
					        border-color:$colWhite;
							display: inline-block;
							padding: 10px 30px;
							text-decoration: none;
							color: $colWhite;
							background-color: $colPrincipal;
							font-weight: bold;
							box-shadow: $colShadowprimario;
							margin-left: 90px;
							margin-top: 0.5rem;}
						    .teachers__card__btn:hover {
							background-color: #a5a8f8;
							transform: scale(1.2);
							}

					}


		
}
/******************TEACHER-PERFIL******************/
.teacherPerfil__titulos{
	height: 200px;
	.teacherPerfil__h1Div{
		margin: 100px auto 30px;
		max-width: max-content;
		padding: 10px;
		.teacherPerfil__h1{			
			font-family: 'Quicksand', sans-serif;
			text-align: center;
			color: $colWhite;
			font-weight: bold;
			font-size: 2.5rem;}
		.teacherPerfil__Hr{
			height: 5px;
			background: $colThird;
			margin-top: 0;
		}
		}
	
		
}

.teacherPerfil__container {
     background-color: $colBody;
     margin-top: 50px;
			.teacherPerfil__img  {
			    height: 400px;
			    width: 300px;
			    border: 3px solid $colThird;
				border-radius: 15px;
				box-shadow: $colShadowprimario
			}
			.teacherPerfil__center-block {
			    margin-left:auto;
			    display:block;
			}
			.teacherPerfil__h2Name {
			    color: $colPrincipal;
			    font-size: 26px;
				font-weight: bold;
				text-align: center;
				margin: 20px 0 40px;
			}    
			.teacherPerfil__col {
			    margin:0;
			}
			.teacherPerfil__colRev {
			    background-color: $colWhite;
			    border-radius: 20px;
			    margin: auto;
				box-shadow: $colShadowprimario;
				height: 400px;
			}
			.teacherPerfil__colorFar {
				color: $colStars;
				margin-bottom: 1rem;
			}
			.teacherPerfil__fa{
				padding-right: 5px;
			}
			.teacherPerfil__price {
			    color: $colPrice;
			    font-size: 26px;
				font-weight: bold;    
				margin: 1rem 0; 
			}
			.teacherPerfil__input{
				width: 40px ;
			}
			.teacherPerfil__btn {
			    text-align: center;
			    margin: 40px auto 0;
			} 
			.teacherPerfil__cart {
				  @include btn__general;}

			

}


.container__accordion {  
	  margin-top: 3em;
	  height: 400px;
	  margin: auto;
	  margin-top: 160px;
			#accordion .panel {
			  border-radius: 0;
			  border: 0;
			  margin-top: 0px;
			}
			#accordion a {
			  display: block;
			  padding: 10px 15px;
			  border-bottom: 1px solid $colPrincipal;
			  text-decoration: none;
			  color: $colPrincipal;
			}
			#accordion .panel-heading a.collapsed:hover,
			#accordion .panel-heading a.collapsed:focus {
			  background-color: $colPrincipal;
			  color:$colWhite;
			  transition: all 0.2s ease-in;
			}
			#accordion .panel-heading a.collapsed:hover::before,
			#accordion .panel-heading a.collapsed:focus::before {
			  color:$colWhite;
			}
			#accordion .panel-heading {
			  padding: 0;
			  border-radius: 0px;
			  text-align: center;
			}
			#accordion .panel-heading a:not(.collapsed) {
			  color:$colWhite;
			  background-color: $colPrincipal;
			  transition: all 0.2s ease-in;
			}

			
			#accordion .panel-heading .accordion-toggle::before {
			  font-family: 'FontAwesome';
			  content: '\f00d';
			  float: left;
			  color:$colWhite;
			  font-weight: lighter;
			  transform: rotate(0deg);
			  transition: all 0.2s ease-in;
			}
			#accordion .panel-heading .accordion-toggle.collapsed::before {
			  color: $colPrincipal;
			  transform: rotate(-135deg);
			  transition: all 0.2s ease-in;
			}
			.accordion__panelBody{
				color:$colWhite ;
			}
}
 
/**********************FOOTER **************/

.page-footer {
	background-color: $colPrincipal;
	.footer__row{
		margin-right: 0;
		margin-left: 0;
		.footer__col{	
		 margin: 0px auto 24px;
		}
		.footer__socialLinks{
			color:$colWhite;
			margin-right: 1rem;
			font-size: 25px;
			&:hover {
			 color: $colThird;
			}
		}
		.footer__h4 {
			text-transform: uppercase;
			font-weight: bold;
			color: $colWhite;
		}
		.footer__barra1 {
			width: 170px;
			height: 2px;
			background-color: $colThird;
		}
		.footer__barra2 {
			width: 120px;
			height: 2px;
			background-color: $colThird;
		}
		.footer__barra3 {
			width: 170px;
			height: 2px;
			background-color: $colThird;
		}
		.footer__barra4 {
			width: 112px;
			height: 2px;
			background-color: $colThird;
		}
		.footer__parrafo {
			color: $colWhite;
		}
		.footer__link {
			color: $colWhite;
			text-decoration: none;
			font-weight: bold;
			&:hover {
				text-decoration: none;
				color: $colThird;
			}
		}
		.footer__contact {
			color: $colWhite;
		}
	}
}
 

 