@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Quicksand:wght@600&display=swap');
@import "colores";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    background-color: $colBody;
}
/*encabezados*/
.topH2  {
    margin: 100px 0px 30px;
    font-family: 'Quicksand', sans-serif;
    background-color: #9ab3f5;
	text-align: center;
	color: $colWhite;
    .topH2__h2{
    font-size: 40px;}
}




h2 {
    color: $colWhite;
    font-family: 'Quicksand', sans-serif;
}
h3 {
	color: $colWhite;
    font-family: 'Quicksand', sans-serif;
    
} 
 
p {
	font-family: 'Alegreya', serif; 
	letter-spacing: 1px;
	 
}


/***************** NAV ****************/
.navbar__foto{
	width: 100%;
}
.navStyle {
    color: $colWhite;
    background-color: $colPrincipal;
    font-size: 20px;
    border-color: transparent;
		.navLinke__style {
		background-color: $colPrincipal;
		font-size: 20px;
		color: $colWhite;}
       .navLinke__style:hover {
	     background-color: $colThird;
	     border-radius: 20px ;}	    
		.dropdown__style{
	     background-color: $colPrincipal;	
	     color: $colWhite;
	     .dropdown__style:hover {
	     background-color: $colThird;
	     border-radius: 20px ;}	
	     }
	     .dropdown__menu--style{
	     	padding: 0;
	     	min-width: 6rem;
	     	left: -10px;
	     }
    }
  

.navbar__customToggler{
	border-color: $colThird;
	.navbar__customToggler--icon{
	background-image: url( 
              "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(163, 216, 244)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");	
	}
}
/********************* CAROUSEL ****************/
.carousel__item--style {
	height: 40rem;
	color: $colWhite;
	background: grey;
	position: relative;
	background-position: center;
	background-size: cover;
	.container__carousel {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 50px;
	}
	.btn__carousel{
	@include btn__general;	
	}

}
 
/**********containerTop********/

.container__top{
        text-align: center;
        height: 500px; 
		.container__top_col {
		    height: 400px;
		     }
		.container__top_colText_h2 {
		        margin-top: 80px;
		        color: $colWhite;
		    }
		.container__top_h2{
			margin: 10px 0;
			color:$colWhite;
			font-size: 3rem;
			font-weight: bold;
		}   
		.container__top_colText_p {
		    width: 400px;
		    text-align: center;
		    margin: 50px auto;
		}
		.container__top_img {
		    height: 350px;
		    width: 500px;
		}
}
/*****container profesorer***/
.container__profesores{
	margin-top: 50px;
	height: 900px;
	text-align: center;
	    .container__profesores_col {
	    	margin-bottom: 30px;
	    }
		.container__profesores_card {
		    width: 22rem;
		    margin: 20px auto;
		    height: 400px;
		    border-radius: 40px;
		    box-shadow: $colShadowprimario;}
		    
	    .container__profesores_btn {
	      @include btn__general;
			}

}   

/*****container Price***/ 
.container__plan__col{
	text-align: center;
	.panel__pricing{
		border: 1px solid rgba(0,0,0,.125);
		border-color: #c4bdff;
		margin-top: 20px;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		-webkit-transition: all .3s ease;
		 
			.panel__pricing:hover {
				box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
			}
			.panel__heading {
				padding: 20px 10px;
				background-color: #99d3d0;			 
					.panel__heading--fa {
						margin-top: 10px;
						font-size: 58px;
						color:  #a49bf5;}
			}
			.panel__list__group{
				text-align: center;
			}
			.groupList__style {
				color: #777777;
				border-bottom: 1px solid rgba(250, 250, 250, 0.5);}
			
			.panel__body {
				background-color: #f0f0f0;
				font-size: 40px;
				color: #777777;
				padding: 10px;
				margin: 0px;
				text-align: center;
			}
			.panel__footer{
				margin:10px 0;
			}
			.panel__footer .panel__btn{
				color: white;
			background-color: #a49bf5;
			padding: 10px 40px;
			font-size: 18px;
			line-height: 1.3333333;
			border-radius: 10px;
			}
	}
	
}
/******CONNTAINER-REVIEWS******/
.divTestimonial_h3 {
   text-align: center; 
   margin-top: 70px;
   margin-bottom: 50px;
      .testimonial_h3 {
        color: $colWhite;
        font-weight: bold;
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 2px; 
      }
}
.container_reviews {
	margin-top: 30px;
	.corousel_rvs_inner{ 
		margin-bottom: 100px;
		.corousel_rvs_item {
			background-color: $colTransparent;
		.corousel_rvs_col{
		   	margin-top: 0px;
		    
			.corousel_rvs_imgText{
				width: 100%;
				height: 300px;
				display: block;
				text-align: center;
				padding: 35% 2%;
				background: $colPrincipal;
				color: #fff;
				border-radius: 15px;
			}
			.corousel_rvs_h2 {
				font-size: 25px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			.corousel_rvs_p {
				font-size: 14px;
			}
			.corousel_rvs_sinBox{
				position: relative;
				margin-bottom: 30px;
			}
			.corousel_rvs_imgArea{
				position: absolute;
				width: 100px;
				height: 100px;
				border: 5px solid $colWhite;
				overflow: hidden;
				top: 15px;
				left: 125px;
				border-radius: 50px;
			}
			.corousel_rvs_img {
				width: 100%;
			}
		}
	  }
   }  
      
		.carousel_indicators_reviews{
			left: 0;
			top: auto;
			bottom: -30px;}		
				.carousel_indicators_li{
					background: $colPrincipal;
					border-radius: 50px;
					width: 15px;
					height: 15px;
				}
				.corousel_rvs_active{
					background: $colWhite;}
				 

}

 
           /******pages-help******/
.section_help {
    height: 1100px;
    width: auto;  
		 .section_help_h2 {
		     padding: 20px;
		 }
		 .section_help_faqs {
		     background-color:$colWhite;
		     width: 60%;
		     margin: 60px 50px;
		     padding: 20px 15px;
		     border-radius: 25px;
		 }

		 .section_help_faqsH3{
		     color: $colPrincipal;
		     font-weight: bold;
		     font-size: 24px;
		     padding: 20px;    
		 }
 }


                 /******pages-contact******/
.section_contacto {
    margin: 0;
    height: 300px;
    text-align: center;
      .section_contacto_h2{
      	margin: 50px 0;
      }

}

.container_info_col{
		   	margin-top: 150px;
		    
			.container_info_imgText{
				width: 100%;
				height: 350px;
				display: block;
				text-align: center;
				padding: 10% 5%;
				background: $colPrincipal;
				color: #fff;
				border-radius: 15px;
			}
			.container_info_h2 {
				font-size: 25px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			.container_info_p {
				font-size: 14px;
			}
			.container_info_sinBox{
				position: relative;
				margin-bottom: 30px;
			}
			 
			.container_info_fas{
				font-size: 100px;
				padding-bottom: 10px;
			}


}
 
.section_contactForm {
	margin: 50px 0;
	.contactForm__labelText{
	color: $colWhite;
	font-weight: bold;
	text-transform: uppercase;
    }
	.contactForm_hr{
		    height: 5px;
			width: 100%;
			background: $colThird; 
	}
	.contactForm_btn{
		background: $colPrincipal;
		color: $colWhite;
	}
	.contactForm_col_fa{
		margin: 10px 15px;
		color: $colPrincipal;
	}
	.section_contactForm__h3{
		color: $colWhite;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 30px;
		letter-spacing: 1px;

	}
   
}
/**********************ADVERTISE**************/
.section__advertise {  
	  text-align: center;
	  height: 500px; 
	  margin-top: 160px;    
		.section__advertise__h2{
		    padding: 15px;
		}
		.section__advertise__h3{
		    padding: 15px;
		}
}

/******************teacher__cards******************/

.teachers__card{
	 box-sizing: border-box;
	overflow-x: hidden;
	position: relative;
	 min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
			 .teachers__card__row {
			  max-width: 1200px;
			  margin: 2rem auto;				             
					.teachers__card__style {
					  display: flex;
					  -webkit-box-pack: justify;
					  -ms-flex-pack: justify;
					  justify-content: space-between;
					  flex-direction: row;
					  margin-bottom: 10.5rem;
					  box-shadow: $colShadowprimario;}	
					
					.teachers__card__img{
					  flex: 1 30%;
					  -webkit-flex: 1 30%;
					  overflow:hidden;
					  position: relative;
					  padding: 10px;
					}
					.teachers__card__img-preview {
					  display: block;
					  object-fit: cover;
					  margin: 0 auto;
					  min-width: 150px;
					  max-width: 100%;
					  min-height: 100%;
					  transition: all 0.5s ease 0s;
					}
					.teachers__card__content {
					  flex: 1 70%;
					  -webkit-flex: 1 70%;
					  padding: 0.8rem;
					}
					.teachers__card__title {
					  font-size: 1.2rem;
					  font-weight: 700;
					  margin: 0;
					  padding-bottom: 15px;
					  color: $colPrincipal;
					}
					.teachers__card__text {
					    font-size: 0.9rem;
					  margin: 0;
					}
					.teachers__cardStars{
					    color: $colStars;
					}
					.teachers__cardStar__padding{
					    padding-left: 30px;
					    padding-bottom: 15px;
					}
					.teachers__card__description {
					    font-size: 0.8rem;
					  margin: 0;
					  margin-top: 0.5rem;
					  color: $colGrey;
					    overflow: hidden;
					  text-overflow: ellipsis;
					  display: -webkit-box;
					  -webkit-box-orient: vertical;
					  -webkit-line-clamp: 4;
					  max-height: 3rem;
					  line-height: 1rem;
					}
					.teachers__card__bottom {
					    display: -webkit-box;
					    display: -ms-flexbox;
					    display: flex;
					    align-content: center;
					    -webkit-box-pack: justify;
					    -ms-flex-pack: justify;
					    justify-content: space-between;
					    border-top: 1px solid $colPrincipal;
					    text-align: right;
					    padding-top: 0.5rem;
					    margin-top: 1rem;
					    font-size: 0.8rem;
					    color: $colGrey;
					}
					.teachers__card__btn{
						    border-radius: 25px ;
					        border-color:$colWhite;
							display: inline-block;
							padding: 10px 30px;
							text-decoration: none;
							color: $colWhite;
							background-color: $colPrincipal;
							font-weight: bold;
							box-shadow: $colShadowprimario;
							margin-top: 0.5rem;}
						    .teachers__card__btn:hover {
							background-color: #a5a8f8;
							transform: scale(1.2);
							}

					}


		
}
/******************TEACHER-PERFIL******************/

.teacherPerfil__container {
     background-color: $colBody;
     margin: auto;
			.teacherPerfil__col__p {
			    background: green;
			    width: 150px;
			    color: $colWhite;
			    font-size: 18px;
			    font-weight: bold;
			    text-align: center;
			    margin-bottom: 20px;
			    margin-top: 15px;
			}

			.teacherPerfil__img  {
			    height: 400px;
			    width: 300px;
			    margin-left: 20px;
			}
			.teacherPerfil__center-block {
			    margin-left:auto;
			    margin-right:auto;
			    display:block;
			}
			.teacherPerfil__h2Name {
			    color: $colPrincipal;
			    font-size: 26px;
			    font-weight: bold;
			}    
			.teacherPerfil__col {
			    margin: auto;
			}
			.teacherPerfil__colRev {
			    background-color: $colWhite;
			    border-radius: 20px;
			    margin: auto;
			    box-shadow: $colShadowprimario;
			}
			.teacherPerfil__colorFar {
			    color: $colStars;
			}
			.teacherPerfil__price {
			    color: $colPrice;
			    font-size: 26px;
			    font-weight: bold;     
			}
			.teacherPerfil__btn {
			    display: flex;
			    flex-direction: row;
			    margin: 20px;
			} 
			.teacherPerfil__cart {
				  @include btn__general;}

			

}


.container__accordion {  
	  margin-top: 3em;
	  height: 400px;
	  margin: auto;
	  margin-top: 160px;
			#accordion .panel {
			  border-radius: 0;
			  border: 0;
			  margin-top: 0px;
			}
			#accordion a {
			  display: block;
			  padding: 10px 15px;
			  border-bottom: 1px solid $colPrincipal;
			  text-decoration: none;
			  color: $colPrincipal;
			}
			#accordion .panel-heading a.collapsed:hover,
			#accordion .panel-heading a.collapsed:focus {
			  background-color: $colPrincipal;
			  color:$colWhite;
			  transition: all 0.2s ease-in;
			}
			#accordion .panel-heading a.collapsed:hover::before,
			#accordion .panel-heading a.collapsed:focus::before {
			  color:$colWhite;
			}
			#accordion .panel-heading {
			  padding: 0;
			  border-radius: 0px;
			  text-align: center;
			}
			#accordion .panel-heading a:not(.collapsed) {
			  color:$colWhite;
			  background-color: $colPrincipal;
			  transition: all 0.2s ease-in;
			}

			 Add Indicator fontawesome icon to the left  
			#accordion .panel-heading .accordion-toggle::before {
			  font-family: 'FontAwesome';
			  content: '\f00d';
			  float: left;
			  color:$colWhite;
			  font-weight: lighter;
			  transform: rotate(0deg);
			  transition: all 0.2s ease-in;
			}
			#accordion .panel-heading .accordion-toggle.collapsed::before {
			  color: $colPrincipal;
			  transform: rotate(-135deg);
			  transition: all 0.2s ease-in;
			}
}
 
/**********************FOOTER **************/

.page-footer {
    background-color: $colPrincipal;
    .footer__h4 {
        text-transform: uppercase;
        font-weight: bold;
        color: $colWhite;
    }
    .footer__barra {
        width: 170px;
        height: 2px;
        background-color: $colThird;
    }
    .footer__parrafo {
        color: $colWhite;
    }
    .footer__link {
        color: $colWhite;
        text-decoration: none;
        font-weight: bold;
        &:hover {
            text-decoration: none;
            color: $colThird;
        }
    }
    .footer__contact {
        color: $colWhite;
    }
}
 

 